@charset "ISO-8859-1";
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  --main-bg-color: brown;
}
* {
  box-sizing: border-box;
  
}

.navigation{
    display: flex;
    box-shadow: 3px 4px 6px 1px rgb(0 0 0 / 10%);
    justify-content: space-between;
}

ul {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
li{
    padding: 10px;
}
.logo{
    letter-spacing: 6px;
    font-weight: 600;
  padding: 8px 16px;
  border: 2px solid rgb(255, 105, 5);
  font-size: 24px;
  border-radius: 4px;
}
.VMS-logo{
    text-decoration: none;
    color: black;
    
}
.nav-items{
    text-decoration: none;
    color: black;
}
.nav-items:hover{
    color: orangered;
    text-decoration: underline;
}
.nav-login{
    text-decoration: none;
    color: black;
}
.nav-login:hover{
    text-decoration: underline;
}
.login-container{
    border-radius: 8px;
    padding: 12px 24px;
}
